
.back{
    background-color: #cadefc;

}
.foot{
    background-color: #defcf9;
}
.nism-logo{
    margin-right: 15px;
    width: 40px;
}
.Nisms{
    height: 100%;
    display:flex;
}
.search-button{
    width: 6%;
}
.popular-classes{
    display: flex;
    justify-content: center;
    
}
.class-text{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.class-link{
    text-decoration: none;
    color: inherit;
    
}