/*GENERAL*/
.course-page-layout {
  display: flex;
  padding: 2rem;
}
/*LEFT SECTION WITH COURSE OUTLINE*/
.course-title {
  padding: 2rem;
  margin-bottom: -3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.course-content {
  padding: 4rem;
  display: flex;
  margin-left: 1.5rem;
}

.course-topics {
  outline: 1px solid rgb(216, 216, 216);
  padding: 2rem;
}

.course-topics .topic-btn:link,
.course-topics .topic-btn:visited {
  color: rgb(46, 46, 46);
  border-radius: 5px;
  padding: 0.5rem;
  transition: 0.3s;
}

.course-topics .topic-btn:hover {
  transition: 0.3s;
  color: white;
  background-color: #2e6474;
}

.topic-list {
  padding: 1.5rem 0 2rem 2rem;
}

.topic-list-item {
  list-style-type: upper-roman;
  padding: 1rem;
  font-size: 1.8rem;
  color: rgb(41, 41, 41);
}

.topic-list-item a:link,
.topic-list-item a:visited {
  color: rgb(41, 41, 41);
  text-decoration: none;
  border-radius: 5px;
}

.topic-list-item a:hover {
  padding: 0.7rem;
  transition: 0.3s;
  color: white;
  background-color: #24515e;
  /* font-size: 110%; */
}
/*RIGHT SECTION TEXTBOOKS*/
.textbook-links-title {
  padding: 2rem;
  margin-bottom: -3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /*same as course-title*/
}

.textbook-content-box {
  padding: 4rem;
  display: flex;
  margin-left: 1rem;
  /*same as course-content*/
}

.textbook-list {
  /*same as course-topics*/
  outline: 1px solid rgb(216, 216, 216);
  padding: 2rem;
}

.textbook-list-item {
  list-style-type: none;
  padding: 1rem;
  font-size: 1.8rem;
  color: rgb(41, 41, 41);
}

.textbook-list-item a:link,
.textbook-list-item a:visited {
  color: rgb(41, 41, 41);
  text-decoration: none;
  border-radius: 5px;
}

.textbook-list-item a:hover {
  padding: 0.7rem;
  transition: 0.3s;
  color: white;
  background-color: #24515e;
  /* font-size: 110%; */
}
