/* ALL AUTHORED BY NISM (DAVID LIU) */
/****************************/
/*GENERAL REUSABLE COMPONENTS*/
/****************************/

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}

.grid {
  display: grid;
  column-gap: 4rem;
  row-gap: 2rem; /*previously 9.6rem*/
}

.grid--2--cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4--cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #353535;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  color: black;
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 4rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 2.2rem; /*previously 3.2rem*/
}

.fourth-heading {
  color: #272626;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  text-decoration: none;
}

.btn:link,
.btn:visited {
  background-color: #24515e;
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 525;
  padding: 1.6rem 3.2rem;
  border-radius: 150px;
  transition: background-color 0.5s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #24515e;
  color: white;
}

.btn--full:hover,
.btn--full:active {
  background-color: #12282f;
  color: white;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #ffffff;
  color: #24515e;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #47a2bd;
  color: white;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}
/* ALL AUTHORED BY NISM (DAVID LIU) */
